<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CreditRiskApp/styles.css' %}">
    <title>Credit Risk Analyzer</title>
</head>
<body>
    <h1>Upload Bank Statement</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Analyze Risk</button>
    </form>

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
</body>
</html>
